# No guardar este archivo con valores reales en GitHub.
POCKETBASE_URL=http://127.0.0.1:8091
POCKETBASE_SUPERUSER_EMAIL=
POCKETBASE_SUPERUSER_PASSWORD=

ISIVOLT_COMPANY_NAME=IsiVoltPro
ISIVOLT_COMPANY_SLUG=isivoltpro
ISIVOLT_ADMIN_EMAIL=
ISIVOLT_ADMIN_NAME=
